<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <th:block th:insert="fragments/css::css"></th:block>
</head>

<body onload="getCatalog()">
<th:block th:insert="fragments/header::header"></th:block>
<section class="static about-sec">
    <div class="container">
        <h2>recently added books to our store</h2>
        <div class="recent-book-sec">

            <div class="filter">
                <input id="book-name" placeholder="Name">
                <select id="genre">
                    <option selected value="">All Genres</option>
                    <option th:each="genre : ${genres}" th:value="${genre}" th:text="${genre}"></option>
                </select>
                <input id="price" placeholder="Max Price $">
                <button onclick="getCatalog()">Find</button>
                <span class="show">
                <a>Show:</a>
                <select id="limit" onchange="getCatalog()">
                    <option value="10">10</option>
                    <option selected value="20">20</option>
                </select>
                </span>
            </div>

            <div id="catalog" class="row"></div>

            <div id="page-line"></div>

        </div>
    </div>
</section>
<th:block th:insert="fragments/footer::footer"></th:block>
<script th:src="@{js/catalog.js}"></script>
<th:block th:insert="fragments/scripts::scripts"></th:block>
</body>

</html>