<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
    <th:block th:insert="fragments/css::css"></th:block>
</head>
<body onload="getAuthors()">
<th:block th:insert="fragments/header::header"></th:block>
<section class="static about-sec">

    <div class="container">
        <h1>Add a New Book</h1>

        <div class="form">
            <form th:action="@{/book/admin}" enctype="multipart/form-data"  method="post">
                <div class="row">
                    <div class="col-md-4">
                        <input name="name" placeholder="Book Title" required>
                        <span class="required-star">*</span>
                    </div>
                    <div class="col-md-4">
                        <input name="price" placeholder="Price" required>
                        <span class="required-star">*</span>
                    </div>
                    <div class="col-md-4">
                        <select name="genre">
                            <option th:each="genre : ${genres}" th:value="${genre}" th:text="${genre}"></option>
                        </select>
                    </div>

                    <div class="col-lg-12 col-md-4">
                        <textarea name="about" placeholder="About Book" required></textarea>
                        <span class="required-star">*</span>
                    </div>
                    <div class="col-md-4">
                        <input type="file" name="file" placeholder="Image" required>
                        <span class="required-star">*</span>
                    </div>
                    <div class="col-md-4">
                        <select multiple="multiple" name="authorId" id="author-select">
                            <option th:each="author : ${authors}" th:value="${author.id}"
                                    th:text="${author.surname}"></option>
                        </select>
                    </div>

                    <div class="col-lg-8 col-md-12">
                        <button class="btn black">Add Book</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <h3>Add Author</h3>
        <input id="author-name" placeholder="Name">
        <input id="author-surname" placeholder="Surame">
        <input type="text" id="author-bio" placeholder="Bio">
        <button onclick="addAuthor()">Add Author</button>
    </div>

</section>
<th:block th:insert="fragments/footer::footer"></th:block>
<script th:src="@{/js/author.js}"></script>
<th:block th:insert="fragments/scripts::scripts"></th:block>
</body>

</html>