<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<header th:fragment="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3"><a th:href="@{/}" class="web-url">www.bookstore.com</a></div>
                <div class="col-md-6">
                    <h5>Free Shipping Over $99 + 3 Free Samples With Every Order</h5></div>
                <div class="col-md-3">
                    <span class="ph-number">Call : 800 1234 5678</span>
                </div>
            </div>
        </div>
    </div>
    <div class="main-menu">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/logo.png}" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="?language=ru_RU">Русский</a>
                І
                <a href="?language=en_US">English</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="navbar-item active" sec:authorize="hasAuthority('ADMIN')">
                            <a th:href="@{/registration/admin}" th:text="#{addAdmin}" class="nav-link">Shop</a>
                        </li>
                        <li class="navbar-item active" sec:authorize="hasAuthority('ADMIN')">
                            <a th:href="@{/book/admin}" th:text="#{addBook}" class="nav-link">Shop</a>
                        </li>
                        <li class="navbar-item active">
                            <a th:href="@{/}" th:text="#{shop}" class="nav-link">Shop</a>
                        </li>
                        <li class="navbar-item" sec:authorize="!isAuthenticated()">
                            <a th:href="@{/login}" th:text="#{login}" class="nav-link">Login</a>
                        </li>
                        <li class="navbar-item" sec:authorize="isAuthenticated()">
                            <a th:href="@{/logout}" th:text="#{logout}" class="nav-link" >Logout</a>
                        </li>
                    </ul>
                    <div class="cart my-2 my-lg-0">
                            <span>
                                <a sec:authorize="isAuthenticated()" th:href="@{/order}">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>
                        <span class="quntity" sec:authorize="isAuthenticated()">3</span>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
</html>